{% extends 'base.html.twig' %}

{% block title %}AdminProperty {% endblock %}

{% block body %}
<div class="container">
    <h1>Add Property </h1>
    {{ include ("admin_property/__form.html.twig", {button: 'Add'}) }}
</div>
{% endblock %}
